nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightcyan;
  min-height: 10vh;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 30%;
  align-items: center;
}